.main {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  position: relative;
}

.right {
  width: calc(100% - 250px); 
  height: 100vw;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  position: relative;
}
.right.dropdown-visible{
  width: calc(100% - 100px);
}
.overview{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.title h1{
  margin-left: 20px;
  font-size: 25px;
  font-weight: 500;
}
.input-dropdown-container{
  background-color: transparent;
  border: 1px solid black;
  margin-right: 20px;
  padding: 5px 10px;
  border-radius: 5px;
}
.input-dropdown-container::placeholder{
  color: #000;
}
.dropdown{
  background-color: transparent;
  color: #000;
  border: none;
  outline: none;
}
.price{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  background-color: whitesmoke;

}
.price .order{
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.price .order p{
  font-size: 20px;
  opacity: 0.8;
}
.price .order span{
  font-size: 30px;
  font-weight: 600;
}
.price .recieve{
  display: flex;
  flex-direction: column;
  margin: 5px;
  gap: 20px;
  margin-right: 450px;
}
.price .recieve h1{
    font-size: 20px;
    opacity: 0.7;
}
.price .recieve span{
  font-size: 30px;
  font-weight: 600;
}
.tran{
  margin-left: 20px;
  margin-top: 30px;
}
.tran h1{
  font-size: 24px;
  font-weight: 600;
}
.search-by{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  background-color: whitesmoke;
}
.search-id {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border: 1px solid black;
  gap: 10px;
  font-size: 20px;
  border-radius: 5px;
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.search-id input{
  border: none;
  outline: none;
  background-color: transparent;
}
.sort{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 90px;
}
.by-sort{
  display: flex;
  align-items: center;
  padding: 3px 9px;
  font-size: 19px;
  border: 1px solid black;
}
.download{
  padding: 7px 7px;
  border: 1px solid black;
  font-size: 20px;
}
.table{
  width: 100%;
  display: flex;
  justify-content: right;
}